<mat-nav-list>
    <div class="profile-card">
        <div class="header">
         <h2>Talha Khan</h2>
         <h4>talhakhan@gmail.com</h4>
        </div>
     <img src="../assets/images/profile-image.png" alt="Profile Image">
    </div>
    
    <mat-divider></mat-divider>
    <h2 matSubHeader>Pages</h2>
    
    <a mat-list-item routerLinkActive="list-itme-active" routerLink="/">
    <mat-icon>dashboard</mat-icon>
    Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-itme-active" routerLink="/posts">
    <mat-icon>how_to_reg</mat-icon>
    User Registration
    </a>
    <a mat-list-item routerLinkActive="list-itme-active" routerLink="/articles">
    <mat-icon>people</mat-icon>
     Users Registered
    </a>
    
    <mat-divider></mat-divider>
    <h2 matSubHeader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
     <mat-icon>import_contacts</mat-icon>
     Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
     <mat-icon>contact_phone</mat-icon>
     Lead Contacts
    </a>
</mat-nav-list>

