.text h2{
    margin-top: 0px;
    margin-bottom: 20px;
    
}

.total{
    font-size: 30px;
}

.description{
    font-size: 15px;
    color: green;
}

mat-icon{
    position: relative;
    top: 5px;
    padding: 0px 25px;
}